
.wrapper-content {

  &.box-content {
    max-width: @box-width;
    margin: auto;
    padding: @space-l @space-m @space-m;
  }

  &.normal-content {
    max-width: @content-width;
    margin: auto;
    // padding: 2em 1em 1em;
  }
}