
body,
body > #__next,
.ant-layout.main-layout {
  height: 100%;
}


.main-layout {
  display: flex;
  flex-direction: column;

  .layout-content {
    min-height: auto;
    flex: 1 1 100%;
    background-color: #fff;
  }

  .main-content {
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}