
body,
body > #__next,
.ant-layout.main-layout {
  height: 100%;
}


.main-layout {
  display: flex;
  flex-direction: column;
  

  .layout-content {
    min-height: auto;
    flex: 1 1 100%;
    background-color: #fff;
  }

  .wrapper-content {
    background-color: #fff;
    padding-top: @space-m;
    padding-bottom: @space-m;
    display: flex;
  }

  .main-content {
    background-color: #fff;
    padding-top: @space-m;
    padding-bottom: @space-m;
    flex: auto;
  }
}