
.main-header.ant-layout-header {
  background-color: @layout-header-background;

  .main-header-menu {
    background-color: @layout-header-background;
    display: flex;
  }

  .pusher {
    flex: 1 1 100%;
  }

  .end {
  }
}


.MainMenu {
  border-bottom: 1px solid @border-color-base;
  color: @text-color;
  background-color: #fff;

  ul.main-header-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: auto;
    max-width: @content-width;

    li {
      padding: @space-inset-l;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &.pusher {
        // flex: 1 1 100%;
        flex: auto;
      }

      span.ant-dropdown-trigger {
          padding-left: @space-m;
          position: relative;
          top: 1px;
      }

      a {
        img {
          margin-right: @space-s;
        }
      }
    }
  }

  a {
    color: @text-color;
  }
}