
.PageTitle {
  
  display: flex;
  align-items: center;
  padding: @space-m 0 @space-m 0;

  h1 {
    font-weight: 500;

  }

  h1, h2, h3, h4, h5, h6 {
    display: flex;
    align-items: center;
    margin: 0;

    img {
      margin-right: @space-m;
    }
  }

  aside {
    flex: 1;
    float: none;
    text-align: right;
    justify-content: flex-end;
  }
}
