
.PageTitle {
  
  display: flex;
  align-items: center;
  padding: @space-m 0 @space-l 0;

  h1 {
    display: flex;
    align-items: center;
    font-size: 2em;
    margin: 0;
  }

  aside {
    flex: 1;
    float: none;
    text-align: right;
    justify-content: flex-end;
  }
}
