
.Tag {
  border-radius: 3px;
  padding: @space-inset-s;
  color: rgba(0, 0, 0, .6);
  font-size: @font-size-base;
  line-height: @font-size-base;
  text-align: center;
  background-color: rgba(0, 0, 0, .1);

  &.tag-admin {
    background-color: @magenta-base;
    color: #fff;
    font-size: @font-size-base;
    margin-left: @space-m;
    margin-top: @space-s;
  }

  &.tag-member {
    background-color: @blue-base;
    color: #fff;
    font-size: @font-size-base;
    margin-left: @space-m;
    margin-top: @space-s;
  }
}
