
// we do "bricolage here"
.UserMenuDropdown {
    display: flex;
    margin: 0 @space-s;

    & > span {
        max-width: 120px;
    }

    img {
        margin-right: @space-s;
        max-height: 24px;
        max-width: 24px;
        // border-radius: 3px;
        position: relative;
        // left: -5px;
    }
}

.MainMenu ul.main-header-menu li .UserNotification {

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, .1);
    opacity: .5;
    color: @text-color-light;
    text-align: center;
    padding: 0 @space-s;

    &.has-notifications {
        opacity: 1;
        background-color: @nord11;
        color: #fff;
    }
}
