.DiscussionItem {
  // margin: @space-stack-m;
  position: relative;

  &.locked {
    h5 a {
      // text-decoration: line-through;
      color: @text-color-light;
    }
  }

  &.unread-messages {

    h5 {
      position: relative;
      font-weight: 600;
    }
  }

  aside {
    position: absolute;
    left: -20px;
    top: 2px;
    width: 20px;
    color: @text-color-light;
  }

  h5 {
    display: flex;
    align-items: center;
    align-content: space-between;
    margin-bottom: 0;

    > *:not(:first-child) {
      margin-left: @space-s;
    }
  }

  h5 a {
    // flex: auto;
    display: flex;
    align-items: center;
    color: @text-color;
    // font-weight: bold;
  }

  .discussion-category {
    color: @text-color-light;
    font-size: 14px;
    font-weight: normal;
  }

  footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    ul {
      list-style-type: none;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        padding-right: @space-m;
        // padding-bottom: @space-s;

        &.participants {
          & > span {
            margin-right: @space-s;
          }
        }

        &.created-by {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          
          & > span { 
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-right: @space-s;

            & > span {
              margin-right: @space-s;
            }
          }
        }
      }
    }
  }

  h2 {
    display: flex;
    align-items: center;
  }

}