.MessageListItem {

  margin: @space-stack-default;
  display: flex;
  align-items: flex-start;

  &:hover .MessageVote .vote.vote-zero {
    display: flex;
  }

  .MessageVote {
    display: flex;
    flex-direction: column;
    min-width: 50px;
    align-items: flex-end;
    font-size: 16px;

    .vote {
      opacity: .7;
      display: flex;
      min-width: 50px;
      align-items: center;
      justify-content: flex-end;
      
      button {
        background: none;
        border: none;
        box-shadow: none;
        -webkit-appearance: none;
        cursor: pointer;

        &:focus {
          border: none;
          box-shadow: none;
        }

      }

      &.vote-zero {
        // opacity: 0;
        display: none;
      }

      &.vote-down:not(.vote-zero) {
        &:before {
          content: "-"
        }
      }
      &.vote-up button:hover {
        color: @success-color;
      }

      &.vote-down button:hover {
        color: @error-color;
      }

      &:hover {
        opacity: 1;
      }

      &.active {
        font-weight: bold;
        opacity: 1;

        &.vote-up {
          color: @success-color;
        }

        &.vote-down {
          color: @error-color;
        }
      }
    }
  }

  aside {
    display: flex;
    align-items: center;

    padding: @space-s;
    padding-top: 3px; // @TODO yuk 😰
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 3px;
    border: 1px solid @border-color-base;
    flex: 1;

    header {
      padding: @space-s;
      border-bottom: 1px solid @border-color-base;
      display: flex;
      align-items: center;

      & > span {
        padding-right: @space-s;
      }

      .message-actions {
        align-self: flex-end;
        justify-self: flex-end;
        flex: auto;
        text-align: right;

        .ant-btn {
          padding-bottom: 0;
          padding-top: 0;
          height: auto;
        }
      }
    }

    .content {
      padding: @space-s;

      .container p:last-child {
        margin-bottom: 0;
      }
    }
  }
}