.NotificationItem {
    opacity: .7;
  // padding-top: 15px;

  header {
    margin-bottom: @space-m;
    display: flex;
    align-items: center;

    .org-title {
      padding-left: @space-m;

    }
  }

  h4 {
    display: flex;
    align-items: center;
    font-size: 1.2em;

    a {
      flex: auto;
    }

    button {
      align-self: flex-end;
    }
  }

  &.unread {
    opacity: 1;
  }
}